.formRow {
	& + & {
		margin-top: 20px;
	}

	& + &_checkbox {
		margin-top: 14px;
	}

	.row {
		margin: -35px -15px 0;
	}

	.col {
		margin-top: 35px;

		padding: 0 15px;
	}
}

.formTools {
	& {
		margin: 40px 0 20px;

		@media (--tablet) {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			align-items: center;
		}
	}

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	.button,
	.inputField {
		margin-bottom: 20px;

		@media (--tablet) {
			margin-bottom: 0;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}
