:--input {
	display: block;
	width: 100%;
	margin: 0;
	padding: 10px 14px;
	border-radius: 0;
	border: 1px solid var(--additionalColor);
	background-color: white;
	box-shadow: none;
	appearance: none;

	font: normal normal 14px / 28px var(--defaultFont);
	color: var(--primaryColor);

	transition: box-shadow var(--defaultTransitionDuration),
		border-color var(--defaultTransitionDuration);

	&::placeholder {
		color: var(--additionalColor);
		opacity: 1;
	}

	&:hover {
		@media (--hover) {
			border-color: var(--primaryColor);

			transition: none;
		}
	}

	/* &.is-visited {
		&:invalid {
			border-color: var(--alertColor);
			box-shadow: inset 0 0 0 1px var(--alertColor);

			transition: none;

			&:hover {
				@media (--hover) {
					border-color: var(--alertColor);

					transition: none;
				}
			}
		}
	} */

	.inputField.has-error & {
		border-color: var(--alertColor);

		transition: none;
	}

	.inputField.is-correctly & {
		border-color: var(--successColor);

		transition: none;
	}
}

textarea {
	height: auto;
	min-height: 120px;
	resize: vertical;
}

.inputField {
	& {
		position: relative;
	}

	&.has-error {
		margin-bottom: 8px;
	}

	&.is-correctly {
	}

	&_pass {
		button {
			& {
				@util position(absolute, 2px 2px 2px null);

				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0 18px;
				background-color: #ffffff;

				text-decoration: none;
			}

			&:before {
				@apply --i-eye-open;
				font-size: 13px;
				color: var(--passIconColor);
			}
		}

		&.is-open {
			button {
				&:before {
					@apply --i-eye-closed;
					font-size: 15px;
				}
			}
		}
	}
}

.inputField-error {
	& {
		display: none;

		font-size: 14px;
		line-height: 1;
		color: var(--alertColor);
	}

	.inputField.has-error ~ & {
		display: block;
	}

	.inputField_checkbox ~ & {
		padding-left: 25px;
	}
}
