.pageContent {
	& {
		overflow: hidden;
		padding: 48px 0 80px;

		@media (--tablet) {
			padding: 96px 0 128px;
		}
	}

	&_null {
		padding-top: 0;

		@media (--tablet) {
			padding-top: 0;
		}
	}
}
