img {
	display: block;
	max-width: 100%;
	height: auto;
}

button,
label {
	cursor: pointer;
}

button {
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;

	color: inherit;
	font: inherit;
	line-height: normal;
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;
	-webkit-appearance: none;

	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}

audio {
	display: block;
	width: 100%;
}

table {
	width: 100%;
	border-collapse: collapse;
	border: 0;
}
