.i-check:before,
.i-cross:before,
.i-external:before,
.i-fb:before,
.i-left:before,
.i-loupe:before,
.i-menu:before,
.i-play:before,
.i-ribbon:before,
.i-right:before,
.i-tw:before,
.i-type-article:before,
.i-type-book:before,
.i-type-video:before,
.i-vk:before,
.i-yt:before {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

:root {
  --i-check: {
      content: "\EA01";

      font-family: "iconfont";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      text-decoration: inherit;
    }
  --i-cross: {
      content: "\EA02";

      font-family: "iconfont";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      text-decoration: inherit;
    }
  --i-external: {
      content: "\EA03";

      font-family: "iconfont";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      text-decoration: inherit;
    }
  --i-fb: {
      content: "\EA04";

      font-family: "iconfont";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      text-decoration: inherit;
    }
  --i-left: {
      content: "\EA05";

      font-family: "iconfont";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      text-decoration: inherit;
    }
  --i-loupe: {
      content: "\EA06";

      font-family: "iconfont";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      text-decoration: inherit;
    }
  --i-menu: {
      content: "\EA07";

      font-family: "iconfont";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      text-decoration: inherit;
    }
  --i-play: {
      content: "\EA08";

      font-family: "iconfont";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      text-decoration: inherit;
    }
  --i-ribbon: {
      content: "\EA09";

      font-family: "iconfont";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      text-decoration: inherit;
    }
  --i-right: {
      content: "\EA0A";

      font-family: "iconfont";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      text-decoration: inherit;
    }
  --i-tw: {
      content: "\EA0B";

      font-family: "iconfont";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      text-decoration: inherit;
    }
  --i-type-article: {
      content: "\EA0C";

      font-family: "iconfont";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      text-decoration: inherit;
    }
  --i-type-book: {
      content: "\EA0D";

      font-family: "iconfont";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      text-decoration: inherit;
    }
  --i-type-video: {
      content: "\EA0E";

      font-family: "iconfont";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      text-decoration: inherit;
    }
  --i-vk: {
      content: "\EA0F";

      font-family: "iconfont";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      text-decoration: inherit;
    }
  --i-yt: {
      content: "\EA10";

      font-family: "iconfont";
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      text-decoration: inherit;
    }
  
}

.i-check:before { content: "\EA01" }
.i-cross:before { content: "\EA02" }
.i-external:before { content: "\EA03" }
.i-fb:before { content: "\EA04" }
.i-left:before { content: "\EA05" }
.i-loupe:before { content: "\EA06" }
.i-menu:before { content: "\EA07" }
.i-play:before { content: "\EA08" }
.i-ribbon:before { content: "\EA09" }
.i-right:before { content: "\EA0A" }
.i-tw:before { content: "\EA0B" }
.i-type-article:before { content: "\EA0C" }
.i-type-book:before { content: "\EA0D" }
.i-type-video:before { content: "\EA0E" }
.i-vk:before { content: "\EA0F" }
.i-yt:before { content: "\EA10" }