:--input {
	display: block;
	width: 100%;
	margin: 0;
	padding: 10px 15px;
	border-radius: 0;
	border: 1px solid var(--additionalColor);
	background-color: white;
	box-shadow: none;
	appearance: none;
	outline: none;

	font: normal normal 14px / 28px var(--defaultFont);
	color: var(--primaryColor);

	transition: box-shadow var(--defaultTransitionDuration),
		border-color var(--defaultTransitionDuration);

	&:placeholder,
	&::-moz-placeholder {
		color: var(--primaryColor50);
		color: red;
		opacity: 1;
	}

	&:focus {
		border-color: var(--primaryColor);

		transition: none;
	}

	@media (--hover) {
		&:hover {
			border-color: var(--primaryColor);

			transition: none;
		}
	}

	&.is-visited {
		&:invalid {
			border-color: var(--alertColor);
			box-shadow: inset 0 0 0 1px var(--alertColor);

			transition: none;

			@media (--hover) {
				&:hover {
					border-color: var(--alertColor);

					transition: none;
				}
			}

			&:focus {
				border-color: var(--primaryColor);
				box-shadow: none;

				transition: none;

				@media (--hover) {
					&:hover {
						border-color: var(--primaryColor);
						box-shadow: none;

						transition: none;
					}
				}
			}
		}
	}
}

textarea {
	height: 50px;
	min-height: 50px;
	resize: vertical;
}
